@import "~bootstrap/dist/css/bootstrap-grid.min.css";
@color : #fff;
body {
  background: @color;
}

header {
  background: url("../images/bg.jpg") repeat-x;
}

.item {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
  display: inline-block;
  margin-right: 20px;
}


footer {
  background: #ddd;
}

main {
  background: bisque;

  .slider {
    background: aquamarine;
    min-height: 500px;
    margin-bottom: 20px;
    img {
      width: 100%;
    }
  }
}