body{

    background-image: linear-gradient(to top right, rgb(0, 0, 0), rgba(3, 4, 17, 0.94), rgba(6, 8, 34, 0.87), rgba(9, 12, 52, 0.81), rgba(12, 16, 69, 0.74), rgba(15, 20, 86, 0.68), rgba(19, 24, 103, 0.61), rgba(22, 28, 120, 0.55), rgba(25, 32, 137, 0.48), rgba(28, 36, 155, 0.42), rgba(31, 40, 172, 0.35), rgba(34, 44, 189, 0.29));
    background-size: cover;
    background-repeat: no-repeat;
}
header{
    width:105%;
    height:50px;
    background-color: rgb(119,119,119);
    margin-top:10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 11pt;
    white-space: nowrap;
    padding: 20px;
    margin-left: -5%;
}
.logo {
    width: 180px;
    height: 56px;
    background-size: cover;
    background-repeat: no-repeat;
}
.h_kont{
    margin-left: 5%;
}
nav{   width: 105%;
    background-color: blue;
    height:40px;
    font-family: Comic Sans MS, serif;
    font-size:20px;
    padding-left: 10%;
    white-space: nowrap;
    margin-left: -5%;
}
li {
    padding-left: 20px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-top: 5px;


}
menu {
    padding: 20px;
}
menu li menu li {
    width: 100%;
}
li a{
    text-decoration:none;
    color: wheat;
}
li:hover{
    background-color: darkgray;
}
#main{
    margin:0;
    padding:0;
}
#main li{   list-style: none;
    display:inline-block;
    position:relative;
}
#main li menu{
    position:absolute;
    background-color: blue;
    margin:0px;
}
li menu{
    display: none;
}
#main li:hover menu{
    display: block;
}
.block1{
    width: 110%;
    height: 600px;
    background-image: url("../img/block1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    margin-left: -5%;
}

.main_text{
    width: 100%;
    height: 280px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

}
.sub_text{
    width: 100%;
    height: 320px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    padding: 0% 10% 5% 5%


}
.sub_text_element{
    width: 30%;
    height: 30%;
    font-size: 16pt;
}
footer
{
    width: 110%;
    height: 80px;
    background-color: blue;
    color: white;
    margin-left: -5%;
    padding-left: 10%;
    padding-top: 5px;
}

.komiss{
    width: 100%;
    height: 1000px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}
.vikup{
    width: 100%;
    height: 1000px;
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
}
