@media all and (min-width:320px) and (max-width:959px) {
	body {
		
		
	}
	
	
	.banner {
		display:none;
	}
	
	
	.container {
		width:100%;
		box-sizing:border-box;
		padding:0px 10px;
	}
	
	.logo {
		width:150px;
		
	}
	
	.logo img{
		width:100%;
		
	}
	
	.menu {
	
		width:auto;
	}
	
	
	.menu .burger {
	
		display:block;
	}
	.menu .burger:hover ul{
		display:block;
	}
	
	.menu ul{
		display:none;
	}
	
	.banner {
		width:100%;
		padding:0px;
	}
	
	.test div.p1 {
		width:50%;
	}
	
	.test div.p2 {
		width:100%;
	}
	
	.test div.p3 {
		width:50%;
		border-radius:0px;
	}
	
}


@media all and (min-width:320px) and (max-width:620px) {
	.test div.p1 {
		width:100%;
	}
	
	
	
	.test div.p3 {
		width:100%;
		border-radius:0px;
	}
}

