header {
    background-color: #111111;
    width: 100%;
    height: 790px;
    margin: 0px;
}

#namec {
    color: #ffffff;
    font-size: 24pt;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    padding-left: 12%;
    padding-top: 75px;
}

menu {
    display: flex;
    color: #ffffff;
}